<div class="center jumbotron">
  <%= render 'question' %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% difficulty = @trivia.difficulty %>
  <!-- What could break if nothing was subtracted from difficulty.size? -->
  Difficulty Level: <%=difficulty[0].upcase + difficulty[1, difficulty.size - 1]%><br>

  <%= form_for @answer, url: trivia_answer_path do | f | %>
    <h3><%= f.collection_radio_buttons(:answer, @trivia.answers.shuffle, :id,
                                        :answer) %></h3>

    <%= f.submit "Submit Answer", class: "btn btn-lg btn-primary" %>
  <% end %><br>

  <%= link_to "Delete", trivium_path(@trivia), :confirm => "Are you sure?", method: :delete %>
</div>
