<div class="center jumbotron">
  <h1>Create a New User!</h1>

  <%= form_for @user do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div><br>

    <%= f.submit class: "btn btn-lg btn-primary" %>
  <% end %><br>

  <%= link_to("Already Have an Account? Click Here!", login_path) %>
</div>
