<h3>Create a New User!</h3>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.text_field :password %>
<%= f.submit %>
<% end %>
<br> 

<%= link_to("Already have an account? Click here!", login_path) %>
